<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productIdentifier</key>
		<string>xxx.xxxxx.xxxxxxxxx</string>
		<key>icon</key>
		<string>http://xxxxxxx.xxxxxxx.xxx/xxxxxx/xxxxxxxxx.png</string>
		<key>consumable</key>
		<false/>
		<key>consumableIdentifier</key>
		<string></string>
		<key>consumableAmount</key>
		<integer>0</integer>
		<key>bundleDir</key>
		<string></string>
	</dict>
	<dict>
		<key>productIdentifier</key>
		<string>xxx.xxxxx.xxxx.xxxxxxx</string>
		<key>icon</key>
		<string>http://xxxxxx.xxxxxxxx.xxx/xxxxxxxxx/xxxxxxxxxxx.png</string>
		<key>consumable</key>
		<true/>
		<key>consumableIdentifier</key>
		<string>someConsumable</string>
		<key>consumableAmount</key>
		<integer>1</integer>
		<key>bundleDir</key>
		<string></string>
	</dict>
</array>
</plist>
